body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
header, div {
    background-color: #E9ECED;
    padding: 1%;
    margin: 1%;
}
.projectDetail, .indexDiv, .contactMeDiv, .aboutMeDiv {
    display: flex;
    justify-content: space-evenly;
}
h2, h1 {
    text-align: center;
}
img {
    width: 50%;
    height: auto;
}
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
a, a:hover, a:visited {
    color: #5C5E5E;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
nav a {
    text-decoration: none;
}